*.chw
*.suo
*.user
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.opensdf
*.sdf

obj/
build/
/SRC
.vs/
**/bin/*

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
/Net40/Debug
/Net40/Release
/Net40
/Monkey Speak Extended/Help
/ps errors.txt
/Z.txt
obj
obj
obj
/FurcadiaLibTests/silvermonkey.ini
/FurcadiaLibMono/dbugger.ini
/FurcadiaLibMono/dbuggerAccount.ini
